
body {
  background: red;
  color: #fff;
  padding: 25px;
  font-family: sans-serif;
}

.nav {
  background: #ff7f17;
  color: #fff;
  text-align: center;
}

.NavList {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  text-align: center;
  color: #ff7f17;
  background: #ff7f17;

#navobject {
  display: inline-block;
  padding: 10px;
  margin-left: 40px;
  margin-right: 40px;
  width: 80px;
  height: auto;
  text-align: middle;
  color: white;
}
