body {
  background-color: #cc2c0c;
  
}


h3 {
  color: white;
  text-align: center;
  font-size: 20px;
  font-family: "Garamond";
}

.SectionTitle {
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  Font-size: 28px;
  border-top: 1px solid #ffffff;
}

p {
  text-align: center;
  color: #ffffff;
  font-family: "Georgia";
  border-bottom: 1px solid #ffffff;
}
